<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
	<% if (login) { %>
		<h1>El usuario conectado es: <strong> <%= name %></strong></h1>
		<a href="logout" class="a-logout">Logout</a>
	<% } else { %>
		<h1><strong><%= name %></strong></h1>
		<a href="login" class="a-login">Ir a login</a>
	<% } %>

</body>
</html>