<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
     <!-- Site Metas -->
    <title>Huellitas con amor</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/adoptar.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/adoptar.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <div class="mus">
			<img src="images/adoptar.png" height="75" alt="" />
		  </div>
		  <span class="loading" data-name="Loading">Cargando...</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

	<div class="top-add alert alert-light alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>!Bienvenido¡</strong> a huellitas con amor
	</div>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/adoptar.png" height="50" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="index.html">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="adopta.html">Adopta</a></li>
						<li class="nav-item"><a class="nav-link" href="donaciones.html">Donaciones</a></li>
						<li class="nav-item"><a class="nav-link" href="sobre_nosotros.html">Sobre nosotros</a></li>
						<li class="nav-item"><a class="nav-link" href="mascotas_estraviadas.html">Mascotas estraviadas</a></li>
						<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						<li class="nav-item"><a class="nav-link" href="registro.html">Registro</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<div id="home" class="parallax">
		<div id="full-width" class="owl-carousel owl-theme home-hero">
			<div class="text-center item slider-01 display-table overlay">
				<div class="display-table-cell">
					<div class="big-tagline text-center">
						<h2><strong>!Adopta¡</strong><br>
						Dale la bienvenida a un amigo peludo a tu hogar</h2>
						<p class="lead">Añade a un nuevo integrante a tu familia</p>
						<a href="adopta.html" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Adopta ahora</a>
					</div>
				</div>
			</div>
			<div class="text-center item slider-02 display-table overlay">
				<div class="display-table-cell">
					<div class="big-tagline text-center">
						<h2><strong>¿Mascotas estraviadas?</strong><br>
						accede a nuestro espacio de mascotas perdidas para publicar informacion de tu mascota y ayudar a los demas a encontar la suya</h2>
						<p class="lead">Con tu ayuda y de los demas podemos reunir a estas mascotas con sus preocupados dueños<br></p>
						<a href="mascotas_estraviadas.html" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">dale click aqui</a>
					</div>
				</div>
			</div>
			<div class="text-center item slider-03 display-table overlay">
				<div class="display-table-cell">
					<div class="big-tagline text-center">
						<h2><strong>Ayudanos</strong><br>
						Con tu donaciones podemos ayudar a hacer felices a nuestros amigos peludos y darles un nuevo hogar</h2>
						<p class="lead">Gracias a tus donaciones podemos seguir haciendo dandole a nuestros amigos peludos un nuevo hogar<br></p>
						<a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Ayudanos</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end section -->
		
	<!-- Page Content -->
	<div id="page-content-wrapper">			
		<div class="section wb">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 text-left">
						<div class="message-box">
							<h4></h4>
							<h2>Bienvenido a huellitas con amor</h2>
							<p class="lead">Donde le damos una mano a nuestros amigos peludos</p>

							<p> Aqui en huellitas con amor nos sentimos honrados de darle un nuevo hogar a nuestros amigos peludos.</p>

							<a href="sobre_nosotros.html" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Lee más</a>
						</div><!-- end messagebox -->
					</div><!-- end col -->
					<div class="col-md-6 text-center">
						<div class="right-box">
							<img class="img-fluid" src="images/logoHuellas.jpg" alt="" />
						</div>
					</div><!-- end col -->
				</div><!-- end row -->
				

				
	

		<div class="copyrights">
			<div class="container">
				<div class="footer-distributed">
					<div class="footer-left">
						<p class="footer-links">
							<a href="#">Home</a>
							<a href="#">Blog</a>
							<a href="#">Pricing</a>
							<a href="#">About</a>
							<a href="#">Faq</a>
							<a href="#">Contact</a>
						</p>
						<p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">StyleBarber</a> Design By : <a href="https://html.design/">html design</a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>
    
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
	<script src="js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
</body>
</html>