<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<h1>registro con login.js</h1>
<div class="login-form">
	<form action="auth" method="post">
		<input type="text" name="user" placeholder="user" required>
		<input type="password" name="pass" id="pass" placeholder="placeholder" required>
		<input type="submit" class="btn-register" value="login">
	</form>
<a href="register" class="btn-register">register</a>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<% if(typeof alert != "undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<% showConfirmButton %>',
                timer: '<%= timer %>'

            }).then(() => {
                    window.location = '/<%= ruta%>'
                })

        </script>
     <% } %>

</body>
</html>